<%= form_with model: post do |form| %>


  <div class="field mb-3 col-6">
    <%= form.label :title , class:"form-label"%>
    <%= form.text_field :title,class:"form-control" %>
  </div>

  <div class="field  mb-3 col-6">
    <%= form.label :content,class:"form-label" %>
    <%= form.text_field :content,class:"form-control"  %>
  </div>

  <div class="actions">
    <%= form.submit  %>
  </div>
<% end %>
